:root {
  --darkblue: hsl(240, 38%, 20%);
  --lightblue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Inter";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(images/pattern-curve.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  bottom: 0%;
}

.swiper {
  height: 580px;
}

.swiper-wrapper {
  max-width: 115rem;
}

.swiper-slide {
  display: grid !important;
  grid-template-columns: 55% 45%;
  place-items: center;
  background: url(images/pattern-bg.svg) no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.content {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 44px;
  color: var(--darkblue);
  padding-left: 6rem;
  z-index: 999;
  margin-top: 8rem;
}

.content .quote {
  position: absolute;
  top: 15%;
  left: 15%;
}

.img-content {
  padding-right: 19rem;
}

.img-content img {
  width: 500px;
  height: 510px;
  border-radius: 0.8rem;
}

.name-flex {
  display: flex;
  margin-top: 3.8rem;
  gap: 0.8rem;
}

.name-flex .name {
  font-weight: 800;
  font-size: 2rem;
  color: var(--darkblue);
}

.name-flex .occupation {
  font-weight: 500;
  font-size: 2rem;
  color: var(--lightblue);
}

.container .buttons {
  position: absolute;
  bottom: 6%;
  left: 55%;
  width: 120px;
}

.container .swiper-button-next,
.container .swiper-button-prev {
  background-color: white;
  padding: 2.5rem 2.5rem;
  color: var(--lightblue);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
}

.swiper-button-prev {
  border-radius: 2rem 0 0 2rem;
}

.swiper-button-next {
  border-radius: 0rem 2rem 2rem 0;
}

/* Media Queries */

@media (max-width: 35em) {
  .swiper-wrapper {
    max-width: 40rem;
  }

  .swiper-slide {
    grid-template-columns: 1fr;
    padding: 2rem;
    background-position: top;
  }

  .img-content {
    grid-row: 1;
    text-align: center;
    padding-right: 0;
  }

  .img-content img {
    width: 330px;
    height: 330px;
  }

  .content {
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 4.5rem;
    padding-left: 0;
  }

  .name-flex {
    flex-direction: column;
  }

  .container .buttons {
    top: 27%;
    left: 30%;
  }

  .name-flex {
    margin-top: 0.5rem;
    gap: 0;
  }

  .name-flex .name,
  .name-flex .occupation {
    font-size: 1.7rem;
  }

  .content .quote {
    top: 60%;
    left: 50%;
    width: 100px;
  }
}
