:root{
  --darkblue: hsl(240, 38%, 20%);
  --lightblue: hsl(240, 18%, 77%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-size: 62.5%;
  font-family: 'Inter';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.swiper{
  height: 580px;
}

.swiper-wrapper{
  max-width: 120rem;
}

.swiper-slide{
  display: grid !important;
  grid-template-columns: 55% 45%;
  place-items: center;
  background: url(images/pattern-bg.svg) no-repeat, url('images/pattern-quotes.svg') no-repeat;
  background-position: right;
  background-size: contain;
}

.content {
  font-size: 3.2rem;
}

.img-content img{
  width: 500px;
  border-radius: 0.8rem;
}


